{% load i18n %}
{% comment %}
This is both used to render the initial list, and HTMX is using
it to re-render the list on certain events/changes.
{% endcomment %}

{% for key in api_keys %}
  <tr>
    <td>
      <span>{{ key.key }}</span>
      <button id="clipboard-button" type="button" class="btn btn-link" onclick="copy_api_key(event);">
        <span class="material-symbols-outlined">content_copy</span>
      </button>
      <span class="d-none">{% translate "API Key copied!" %}</span>
    </td>
    <td>
      <input style="width: 350px;" type="text" name="description" hx-post="{% url 'api_key_update' key.site.uid key.pk %}" hx-trigger="keyup changed delay:1s" value="{{ key.description|default:"" }}">
    </td>

    <td>
      <form type="delete">
        <button class="btn btn-secondary btn-danger" type="submit" hx-target="#api-keys-list" hx-delete="{% url "api_key_delete" slug=key.site.uid pk=key.pk %}" hx-confirm="{% translate "Are you sure you want to delete the following API Key?:" %} {{key.key}}">
          <span class='material-symbols-outlined'>delete</span>
          {% translate "Delete" %}
        </button>
      </form>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="3">{% translate "You currently have no API keys" %}</td>
  </tr>
{% endfor %}
