/static/
log/
script-uploads/
node_modules/
.vim/
.idea/
dist/
env/
venv/

/admin_site/*.db
*.pyc
*.swp
*.mo

# These files are created when running "npm run build-for-dev"
admin_site/static/css/bootstrap.css
admin_site/static/css/bootstrap.css.map
admin_site/static/js/bootstrap.bundle.min.js
admin_site/static/js/bootstrap.bundle.min.js.map
justfile
pyrightconfig.json
Session.vim
.viminfo

# Temporary files created by just
db-data.json
db-structure.psql
