{% extends "sitebase.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page_type_class%}sites{% endblock %}

{% block header_title %}
    {% translate "Administrate" %} <em>{% translate "Sites" %}</em>
{% endblock %}

{% block header_additional_content %}
  {% translate "Total number of BorgerPC's" as total_bpc_str %}
  {% translate "Total number of Kiosk PC's" as total_kiosk_str %}
  {% translate "Total number of" as total_release_before_str %}
  {% translate "Computers" as computers_str %}
  {% translate "Computers total" as computers_total_str %}

    {% if user.is_superuser %}
      <span class="ms-3 badge bg-secondary text-dark">{% translate "Customers" %}: {{total_customers}}</span>
    {% endif %}
    <span class="ms-3 badge bg-secondary text-dark">{{computers_total_str}}: {{total_pcs_count}}</span>
    <span class="ms-3 badge bg-secondary text-dark">{% translate "Online" %}: {{total_online_pcs_count}}</span>
    {# TODO: Make this dynamically fetch products #}
    <span class="ms-3 badge bg-secondary text-dark" title="{{total_bpc_str}}">{% translate "BorgerPC" %}: {{borgerpc_count}}</span>
    <span class="ms-3 badge bg-secondary text-dark" title="{{total_kiosk_str}}">{% translate "Kiosk" %}: {{borgerpc_kiosk_count}}</span>
    {% for release, release_count in releases %}
      {% if release_count > 0 %}
        <span class="ms-3 badge bg-secondary text-dark" title="{{total_release_before_str}} {{release}} {{computers_str}}">{{release}}: {{release_count}}</span>
      {% endif %}
    {% endfor %}
    {% if user.is_superuser %}
      <span class="badge bg-secondary text-dark float-end ms-3">{% translate "Version" %}: {{version}}</span>
    {% endif %}
{% endblock %}


{% block specific_content %}
{% include 'notification.html' %}
<!-- Create site modal-->
<div class="modal fade" id="create_site_modal" tabindex="-1" aria-labelledby="create_site_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="{% url "site_create" %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="create_site_modal_label">{% translate "Add new site" %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ form.non_field_errors }}

            <div>
              {{ form.name.errors }}
              {{ form.name|as_crispy_field }}
            </div>
            <div class="mt-3">
              {% translate "UID" %}*
              <p>
                <span class="text-danger" id="site_uid_available_check_response"></span>
              </p>
              {# Adding the UID field manually to the form to be able to set it up with some htmx logic, and allow for an empty value #}
              <p class="d-flex align-items-center">{{user.user_profile.sites.first.customer.site_prefix}}-<input name="uid" pattern="[\-a-z0-9]{0,40}" maxlength="40" class="textinput form-control d-inline flex-grow-1" id="id_uid" hx-get="{% url 'site_uid_available_check' %}" hx-trigger="load, keyup changed delay:0.7s" hx-target="#site_uid_available_check_response"></p>
              <small id="hint_id_uid" class="form-text text-muted">
                {% translate "This UID is used when registering a PC with the admin portal." %}
                {% translate "Must be unique. Valid characters are a-z (lower-case only), 0-9 and dashes, and the maximum length is 40 characters." %}
              </small>
            </div>
        </div>
        <div class="modal-footer">
          <button id="create_site_save_button" type="submit" class="btn btn-primary" disabled>{% translate "Create site" %}</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

  <div class="container">
    <div class="text-center mt-3">
      {% include 'notification.html' %}
      {% if site_membership.site_user_type == site_membership.CUSTOMER_ADMIN %}
        <button type="button" class="btn btn-primary d-block mx-auto mt-4 mb-0" data-bs-toggle="modal" data-bs-target="#create_site_modal" id="create-site-button">
          <span class='material-symbols-outlined'>add</span>
          {% translate "Add new site" %}
        </button>
      {% endif %}
      {% for country, all_customers_in_country in countries_dict.items %}
        {% if user.is_superuser %}
          <h1 class="mt-4 text-dark">{{country}}</h1>
        {% endif %}
        {% for customer in all_customers_in_country %}
          {% if customer.sites %} {# Don't display the customer if they have zero sites #}
              <div class="customer d-inline-flex me-3 mt-4 position-relative {% if customer.status == customer.Status.ONBOARDING %}bg-info{% elif customer.status == customer.Status.OFFBOARDING %}bg-dark{% endif %}">
                <small class="d-block position-absolute">{{customer.name}}</small>
                {% for site in customer.sites.all %}
                  {% if site in user_sites %}
                    {% include "system/sites/display.html" %}
                  {% endif %}
                {% endfor %}
              </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
