{% extends "site_with_navigation.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load custom_tags %}

{% block specific_title %}
{% translate "Delete" %}
{% if is_security %}
{% translate "Security Script" %}
{% else %}
{% translate "Script" %}
{% endif %}: {{ script.name }}
{% endblock %}


{% block specific_content %}
  <div class="container-fluid main">
    <div class="alert alert-danger">
      <h3>{% translate "Note" %}</h3>
      {% translate "Associated script"|bold as associated_script %}
      {% translate "Monitoring Rules"|bold as monitoring_rules %}
      <ul>
        {% if not is_security %}
        <li>
          {% blocktranslate trimmed %}
            If the script is used as an {{associated_script}} the list of associated scripts will be updated, with the script removed.
          {% endblocktranslate %}
        </li>
        <li>
          {% blocktranslate trimmed %}
            The script's effects will remain on any computer, it has previously been run on.
          {% endblocktranslate %}
        </li>
        {% else %}
        <li>
          {% blocktranslate trimmed %}
            If the security script is used in any {{monitoring_rules}}, then those monitoring rules will also be deleted.
          {% endblocktranslate %}
        </li>
        {% endif %}
      </ul>
    </div>

    <p>
      {% translate "Are you sure you want to delete" %}
      {% if is_security %}
        {% translate "the Security Script" %}
      {% else %}
        {% translate "the Script" %}
      {% endif %}
      <strong style="font-size: 1.25em;">{{ script.name }}</strong>?
    </p>

    <form action="" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-danger" type="submit" value="{% translate "Confirm deletion" %}">
      <a class="btn btn-secondary" href="javascript:history.go(-1)">{% translate "Cancel" %}</a>
    </form>
  </div>
{% endblock %}
