{% extends "site_with_navigation.html" %}
{% load i18n %}

{% block specific_title %}
{% if is_security %} {% translate "Security Scripts" %} {% else %} {% translate "Scripts" %} {% endif %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/js/script_edit.js"></script>

<script type="text/javascript">
    $(function() {
        var inputs = {{ script_inputs_json|safe }}
        $.each(inputs, function() {BibOS.ScriptEdit.addInput('#script-inputs', this)})
    })
</script>
{% endblock %}
