@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/material-symbols-outlined.woff2) format('woff2'); /* file is in node_modules */
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 'FILL' 1;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  overflow-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  position: relative;
  top: -.10rem;
  margin: 0 .25rem 0 -.25rem;
  font-size: 1.25rem;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

/* fix for icons that doesn't look good filled */
.material-symbols-outlined-nofill {
  font-variation-settings: 'FILL' 0;
}
  
  
