:root {
    --bs-modal-padding: 1.5rem; // The previous default used by modal-body
    --bs-modal-header-padding: .75rem 1.5rem; // The previous default used by modal-header
    --bs-modal-footer-gap: 0;
}

.modal-title {
    font-size: 1.25rem;
}

.modal-footer {
    background-color: $gray-100;
    border-top: none;
    padding: $spacer*.5 $spacer;
}
