.pick-list {

    .pick-list-dropdown-btn {
        padding: $spacer*.25 0;
        text-align: left;  // Override default btn centering
        text-decoration: none;
        width: 100%;

        .material-symbols-outlined {
            margin-right: $spacer*.5;
        }
    }

    .pick-list-item > span {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: $spacer*.25 0;

        .btn-close {
            font-size: .7rem;
        }
    }
}
