// Boostrap v5 custom.scss

// Include any default variable overrides here (though functions won't be available)
@import "variables";

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
@import "layout";
@import "form";
@import "itemlist";
@import "picklist";
@import "collapsible";
@import "navigation";
@import "table";
@import "pagination";
@import "icons";
@import "code";
@import "modal";
@import "warning";
@import "errors";
@import "dropdown";
@import "bootstrap_table_overrides";

hr {
  border-top: 1px solid $gray-700;
  background-color: transparent;
  opacity: 1;
}

.btn-warning {
  color: $white;
}

.severity-critical {
  color: $danger;
}

.severity-high {
  color: $warning;
}

.pick-list-counter-badge {
  color: black;
  font-size: 1.0rem;
}

.pick-list .list-group-item:active {
  background-color: transparent;
}

li .dropdown-item:active {
  background-color: transparent;
  color: black
}

.pick-list .btn:focus {
  box-shadow: none;
}

.basic-info {
  font-size: 1.20em;
}

#monitor-period input {
  display: inline;
  width: 100px;
}

/* Site list */
.customer {
  background: $gray-100;
  border: 1px solid $gray-300;
  padding: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.customer small {
  position: relative;
  top: -17px;
}

.sites .container {
  max-width: 1700px;
}

.site-btns {
  background: $gray-200;
}

.customer .btn-group:hover {
  background: $gray-300;
}

.pc-status-badge-span {
  height: 100%;
  min-width: 130px;
}

#pc_details_divideheader {
  display: flex;
  justify-content: space-between;
}

.spacer_non_selected_pc {
  width: 28px;
  height: 28px;
}

input[type="checkbox"] {
  cursor: pointer;
}

.pagination-btn-muted {
  opacity: 0.3;
}

.cursor-none {
  cursor: no-drop;
}

.bg-warning {
  color: $black;
}

.btn-warning {
  color: $black;
}


.bg-secondary {
  color: $gray-900;
}

.bg-yellow {
  background-color: $yellow;
  color: $gray-900;
}

/* Used on the user section sublevelnav */
.sublevelnav .btn-link.active {
  background-color: $warning;
  color: $gray-900 !important;
  margin: 5px;
}

#global-script-description {
  font-family: sans-serif;
  white-space: pre-wrap;
  font-size: 0.9rem;
}

.dashboard {
  .list-item-hide {
    background: transparent;
  }

  .list-item-hide:hover {
    border: none;
    color: $danger !important;
  }

  .action-button-th {
    width: 225px;
  }

  .action-button {
    background: $gray-700;
    right: 85px;
    top: 10px;
    white-space: nowrap;
  }

  .action-button:hover {
    background: $danger;
  }
}

.header-additional-content {
  width: 100%;
  display: flex;
  row-gap: 1rem;
  flex-wrap: wrap;
  font-size: 1.1em !important;
}

.borgerPC-news {
  width: inherit;
}

.current-user-icon {
  top: 0.5px
}

#global-script-description h1 {
  font-size: 1.4rem;
}

#global-script-description h2 {
  font-size: 1.2rem;
}

#global-script-description p {
  margin-bottom: 10px;
}
