{% extends 'site_with_navigation.html' %}
{% load i18n %}

{% block specific_title %}
  {% translate 'Computers' %}
{% endblock %}

{% block header_additional_content %}
    {% translate 'Total number of' as total_release_before %}
    {% translate "Total number of BorgerPC's" as total_bpc %}
    {% translate "Total number of Kiosk PC's" as total_kiosk %}
    <span class="ms-3 badge bg-secondary text-dark">{% translate 'Activated:' %} {{ activated_pcs_count }} / {{ total_pcs_count }}</span>
    {# Originally this was online / activated, but it turns out a computer that isn't activated can still be online #}
    <span class="ms-3 badge bg-secondary text-dark">{% translate 'Online' %}: {{ online_pcs_count }} / {{ total_pcs_count }}</span>
    <span class="ms-3 badge bg-secondary text-dark" title="{{ total_bpc }}">{% translate 'BorgerPC' %}: {{ borgerpc_count }}</span>
    <span class="ms-3 badge bg-secondary text-dark" title="{{ total_kiosk }}">{% translate 'Kiosk' %}: {{ borgerpc_kiosk_count }}</span>
    {% for release, release_count in releases %}
      {% if release_count > 0 %}
        <span class="ms-3 badge bg-secondary text-dark" title="{{ total_release_before }} {{ release }} {{ computers }}">{{ release }}: {{ release_count }}</span>
      {% endif %}
    {% endfor %}
{% endblock %}

{% block specific_content %}
    <div class="container-fluid main" style="overflow-x: auto;" hx-get="{% url "computers_overview_table" site.url %}" hx-trigger="revealed"/>
{% endblock %}
