{% load i18n %}
{% load custom_tags %}

{% url "computers_navigationlist" site.url selected_pc.uid as navigationlist_url %}
<nav id="site-computer-navigationlist" class="sublevelnav">
  <ul class="item-list">
    <li class="p-3">
      <input id="site-computer-navigationlist-input" class="form-control d-inline w-auto" type="search"
             name="name"
             value="{{ params | params_get:'name' }}"
             placeholder="{% translate 'Filter by computer names' %}"
             hx-get="{{ navigationlist_url }}?{{ params | params_urlencode }}"
             hx-trigger="input changed delay:1000ms, keyup[key=='Enter']"
             hx-target="#site-computer-navigationlist" hx-swap="outerHTML"
             hx-on::after-swap="htmx.find('#site-computer-navigationlist-input').focus()"
             />
    </li>
    {% for pc in pc_list %}
    <li class="{% if pc == selected_pc %}active{% endif %}">
      <a class="item-list-link pc-status-list-link" id="{{pc.uid}}"
         href="{% url "computer" site.url pc.uid %}?name={{ params | params_get:'name' }}">
        {% if pc.is_activated %}
        <span>{{ pc.name }}</span>
        <span class="ms-auto badge bg-{{ pc.badgeclass }}">
          {% if multiple_products %}{{ pc.product.short_name }}{% endif %}
        </span>
        {% else %}
        <span>
          {{ pc.name }}
        </span>
        <br>
        <div class="ms-auto">
          <span class="badge bg-danger">{% translate "Not activated" %}</span>
          <span class="badge bg-{{ pc.badgeclass }}">
            {% if multiple_products %}{{ pc.product.short_name }}{% endif %}
          </span>
        </div>
        {% endif %}
      </a>
      {% if pc == selected_pc %}
      <a class="item-list-deletable material-symbols-outlined"
         href="{% url "computer_delete" site.url pc.uid %}"
         title="{% translate "Delete computer" %}">
          clear
        </a>
      {% else %}
      <div class="spacer_non_selected_pc"></div>
      {% endif%}
    </li>
    {% empty %}
    <li>{% translate "There are no computers" %}</li>
    {% endfor %}
  </ul>
</nav>
