{% extends "system/users/shared_navigation.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block specific_content %}
  <div class="container-fluid main">
    <h2 class="divideheader">{% translate "Add existing users from your other sites to the site " %}{{site.name}}</h2>
    {% include 'notification.html' %}
    <div>
      <form
       name="link_users_form"
       id="link_users_form"
       method="post"
       class="gray-box">
         {% csrf_token %}
         {{ form.linkable_users|as_crispy_field }}
         {{ form.usertype|as_crispy_field }}

         {% translate "Add the selected users" as submit_name %}

          <fieldset class="mt-3">
            <input type="submit" class="btn btn-primary me-3" value="{{ submit_name }}">
            <button type="reset" class="btn btn-secondary">{% translate "Cancel" %}</button>
          </fieldset>
      </form>
    </div>
  </div>

{% endblock %}
