{# Seemingly used for adding a new policy script via JS, whereas list.html generates the list of already added policy scripts? #}

{% load i18n %}

<div id="policylist-templates">
  <table class="table">
    <tbody id="policy-item-template" class="template-container">
      {% include 'system/pcgroups/policy_list/item.html' with ps_pk='#PS_PK#' script_pk='#SCRIPT_PK#' name='#NAME#' params='#PARAMS#' submit_name='#SUBMIT_NAME#' %}
    </tbody>
  </table>
</div>

<div id="editpolicyscriptdialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{% translate "Edit script" %}</h3>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button onclick="submitEditDialog('{{ policy_id }}')" class="btn btn-primary">{% translate "Save" %}</button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
      </div>
    </div>
  </div>
</div>
