{% load i18n %}

<div id="changelogDetails-{{ entry.pk }}" class="modal fade" role="dialog" aria-labelledby="myModalLabel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 70rem; max-width: 90vw; min-width: 10rem;">
        <div class="modal-content">
            <div class="changelog-detail" id="entry-{{ entry.pk }}">
                <div class="modal-header">
                    <h2 class="card-title">{{ entry.title }}</h2>
                    <strong class="timestamp-created text-muted fs-4">{{ entry.created }}</strong>
                </div>
                <section class="changelog-content">
                    <p>{{ entry.render_content | safe }}</p>
                </section>
                <br>
                <hr>
                <div class="meta-info mt-1">
                    <p class="meta-header">
                        <strong class="text fs-4">
                            {% translate "News categories" %}
                        </strong>
                    </p>
                    
                    <p class="meta-tags">
                    {% for tag in entry.get_tags %}
                    <a class="btn btn-md tag-filter-btn bg-primary text-white me-2" href="?tag={{ tag.pk }}&back={{ back_link }}">
                        {{ tag.name }}
                    </a>
                    {% endfor %}
                    </p>
                    <hr>
                </div>
            </div>
            
            <div class="comment-container ">
                <h3 class="mb-4 ">{% translate "Comments" %}</h3>
                    {% include 'comments/form.html' with parent=None %}

                {% include 'comments/list.html' with comments=comments %}
            </div>
        </div>
    </div>
</div>
