{% extends "base.html" %}
{% load i18n %}

{% block header %}
  <header class="d-flex justify-content-center w-100 align-items-center text-nowrap {% block header_class %}{% endblock %}">

    <h1 class="siteheader gap-1" >{% block header_title %} {% endblock %}</h1>
    <section class="header-additional-content w-100 d-flex justify-content-center justify-items-center align-items-center">{% block header_additional_content %}{% endblock %}</section>

    {% if user.is_authenticated %}

      <div class="d-flex align-items-center">
        <span>{% translate "Welcome" %}</span>
        <div class="dropdown">
          <button class="btn btn-primary text-white dropdown-toggle px-1"
            style="box-shadow: none;"
            type="button"
            id="userActionDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ user }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="userActionDropdown">
            <li>
              <a class="dropdown-item" href="{% url "user" request.user.user_profile.sitemembership_set.first.site.uid request.user.username %}">{% translate "Edit my user" %}</a>
            </li>
            <li class="mt-3">
              <a class="dropdown-item" href="{% url "logout" %}">{% translate "Log out" %}</a>
            </li>
            <li>
            </li>
          </ul>
        </div>

      </div>
    {% endif %}

  </header>
{% endblock %}
