{% extends "sitebase.html" %}
{% load i18n %}

{% block header_title %}
<em>{{ site.name }}:</em> {% block specific_title %}{% endblock %}
{% endblock %}

{% block page_type_class %}
actionpage
{% endblock %}

{% block header_class %}
detailpage
{% endblock %}


{% block globalnav %}
  <nav id="left-menu" class="nav nav-pills">

    {% if user.is_superuser or user.user_profile.sites.count > 1 or user.user_profile.sitemembership_set.first.site_user_type == user.user_profile.sitemembership_set.first.CUSTOMER_ADMIN %}
      <a href="{% url "sites" %}" class="nav-link">
        <span class="material-symbols-outlined">arrow_back</span>
          {% translate "Sites" %}
      </a>
      <hr>
    {% endif %}

    {% set_css_class_active request.resolver_match.url_name "dashboard" as current_url_dashboard %}
    <a href="{% url 'dashboard' slug=site.url %}" class="nav-link {{ current_url_dashboard }}">
      <span class="material-symbols-outlined">visibility</span>
      {% translate "Dashboard" %}
    </a>

    <a href="{% url 'changelogs' %}" class="nav-link">
      <span class="material-symbols-outlined">tips_and_updates</span>
      {% translate "News" %}
    </a>

    <hr>
    <h2 class="text-light">{% translate "Monitoring" %}</h2>

    {% set_css_class_active request.resolver_match.url_name "security_event" as current_url_security_events %}
    <a class="nav-link {{ current_url_security_events }}" href="{% url 'security_events' slug=site.url %}">
      <span class="material-symbols-outlined">local_fire_department</span>
      {% translate "Events" %}
      {% if sec_events > 0 %}
        <span class="float-end badge danger sec-warn-blink">{{ sec_events }}</span>
      {% endif %}
    </a>

    {% set_css_class_active request.resolver_match.url_name "event_rule" as current_url_event_rules %}
    <a class="nav-link {{ current_url_event_rules }}" href="{% url 'event_rules' slug=site.url %}">
      <span class="material-symbols-outlined">security</span>
      {% translate "Monitoring Rules" %}
    </a>

    {% set_css_class_active request.resolver_match.url_name "security_script" as current_url_security_scripts %}
    <a class="nav-link {{ current_url_security_scripts }}" href="{% url 'security_scripts' slug=site.url %}">
      <span class="material-symbols-outlined">code</span>
      {% translate "Security Scripts" %}
    </a>

    <hr>
    <h2 class="text-light">{% translate "Organizing" %}</h2>

    {% set_css_class_active request.resolver_match.url_name "computers_overview" as current_url_computers_overview %}
    {% set_css_class_active request.resolver_match.url_name "computer" as current_url_computer %}
    <a class="nav-link {{ current_url_computers_overview }} {{ current_url_computer }}" href="{% url 'computers_overview' slug=site.url %}">
      <span class="material-symbols-outlined material-symbols-outlined-nofill">computer</span> {% translate "Computers" %}
    </a>
    {% if request.resolver_match.url_name in "computers_overview computer computer_delete" %}
    <ul class="actionsubnav">
      <li class="{% if not current_url_computers_overview %}{{ current_url_computer }}{% endif %}">
        <a href="{% url 'computers' slug=site.url %}">
          <span class="material-symbols-outlined">subdirectory_arrow_right</span> {% translate "Editing" %}
        </a>
      </li>
    </ul>
    {% endif %}

    {% set_css_class_active request.resolver_match.url_name "group" as current_url_groups %}
    <a class="nav-link {{ current_url_groups }}" href="{% url 'groups' slug=site.url %}">
      <span class="material-symbols-outlined">queue</span> {% translate "Groups" %}
    </a>

    {% set_css_class_active request.resolver_match.url_name "settings" as current_url_site_settings %}
    {# API Keys page is technically a page under site settings currently, but settings is not in the URL, soo #}
    {% if not current_url_site_settings %}
      {% set_css_class_active request.resolver_match.url_name "api_keys" as current_url_site_settings %}
    {% endif %}
    <a class="nav-link {{ current_url_site_settings }}" href="{% url 'settings' slug=site.url %}">
      <span class="material-symbols-outlined">settings</span> {% translate "Site settings" %}
    </a>

    {% set_css_class_active request.resolver_match.url_name "two_factor" as current_url_two_factor %}
    <a class="nav-link {{ current_url_two_factor }}" href="{% url 'two_factor' slug=site.url %}">
      <span class="material-symbols-outlined">pin</span>
      {% translate "2FA on Computers" %}
    </a>

    {% set_css_class_active request.resolver_match.url_name "wake_plan" as current_url_wake_plans %}
    <a class="nav-link {{ current_url_wake_plans }}" href="{% url 'wake_plans' slug=site.url %}">
      <span class="material-symbols-outlined">bolt</span> {% translate "On/Off schedules" %}
    </a>


    <hr>
    <h2 class="text-light">{% translate "Scripting" %}</h2>

    {% set_css_class_active request.resolver_match.url_name "job" as current_url_jobs %}
    <a class="nav-link {{ current_url_jobs }}" href="{% url 'jobs' slug=site.url %}">
      <span class="material-symbols-outlined">task</span> {% translate "Jobs" %}
    </a>

    {% set_css_class_active request.resolver_match.url_name "script" as current_url_scripts %}
    <a class="nav-link {{ current_url_scripts }}" href="{% url 'scripts' slug=site.url %}">
      <span class="material-symbols-outlined">code</span> {% translate "Scripts" %}
    </a>

    {% set_css_class_active request.resolver_match.url_name "file_archive" as current_url_file_archive %}
    <a class="nav-link d-none {{ current_url_file_archive }}" href="{% url 'file_archive' slug=site.url %}">
      <span class="material-symbols-outlined">upload_file</span> {% translate "File archive" %}
    </a>

    <hr>
    <h2 class="text-light">{% translate "Users & Images" %}</h2>
    {% set_css_class_active request.resolver_match.url_name "user" as current_url_users %}
    <a class="nav-link {{ current_url_users }}" href="{% url 'users' slug=site.url %}">
      <span class="material-symbols-outlined">person</span> {% translate "Users" %}
    </a>

    {% set_css_class_active request.resolver_match.url_name "images" as current_url_images %}
    <a class="nav-link {{ current_url_images }}" href="{% url 'images' slug=site.url %}">
      <span class="material-symbols-outlined"> cloud_download </span> {% translate "Images" %}
    </a>
    <hr>

    <h2 class="text-light">{% translate "Documentation" %}</h2>

    {% if current_url_dashboard %}
      <a href="{% url 'doc' 'dashboard' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About the dashboard" %}
      </a>
    {% elif current_url_security_scripts or current_url_event_rules or current_url_security_events %}
      <a href="{% url 'doc' 'monitoring_rules/securityscripts' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About Security Scripts" %}
      </a>
      <a href="{% url 'doc' 'monitoring_rules/securityproblems' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About Security rules" %}
      </a>
      <a href="{% url 'doc' 'monitoring_rules/eventrules' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About Offline rules" %}
      </a>
      <a href="{% url 'doc' 'monitoring_rules/securityevents' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About events" %}
      </a>
    {% elif current_url_computer %}
      <a href="{% url 'doc' 'computers' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About Computers" %}
      </a>
    {% elif current_url_groups %}
      <a href="{% url 'doc' 'groups' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About Groups" %}
      </a>
    {% elif current_url_wake_plans %}
      <a href="{% url 'doc' 'wake_plans' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About On/Off schedules" %}
      </a>
    {% elif current_url_images %}
      {% comment %} Versions currently has no documentation! {% endcomment %}
    {% elif current_url_jobs %}
      <a href="{% url 'doc' 'jobs' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About jobs" %}
      </a>
    {% elif current_url_users %}
      <a href="{% url 'doc' 'users' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About Users" %}
      </a>
    {% endif %}

    {% if current_url_scripts or current_url_jobs %}
      <a href="{% url 'doc' 'scripts' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About Scripts" %}
      </a>
      <a href="{% url 'doc' 'scripts/running' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "Executing Scripts" %}
      </a>
    {% endif %}

    {% if current_url_site_settings %}
      <a href="{% url 'doc' 'api' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About API Keys" %}
      </a>
    {% endif %}

    {% if current_url_site_settings or current_url_groups or current_url_computer %}
      <a href="{% url 'doc' 'configuration' %}" class="nav-link">
        <span class='material-symbols-outlined'>help_outline</span>
        {% translate "About Configurations" %}
      </a>
    {% endif %}

    <a class="nav-link" href="{% url 'doc_root' %}">
      <span class='material-symbols-outlined'>help_outline</span>
      {% translate "Read the documentation ..." %}
    </a>

  </nav>

{% endblock %}
