Django==4.2.27
crispy-bootstrap5==2025.6
django-crispy-forms==2.5.0
django-extensions==3.2.3
django-markdownx==4.0.7
django-ninja==0.22.2
django-storages==1.14.6
django-two-factor-auth[phonenumberslite]==1.18.0
google-api-core==2.24.1           # If using Google Cloud
google-auth==2.38.0               # If using Google Cloud
google-cloud-core==2.4.2          # If using Google Cloud
google-cloud-storage==3.0.0       # If using Google Cloud
google-crc32c==1.6.0              # If using Google Cloud - for hashing
googleapis-common-protos==1.68.0  # If using Google Cloud
gunicorn==23.0.0
mozilla-django-oidc==4.0.1
psycopg-binary==3.3.3             # Postgres support
psycopg==3.3.3                    # Postgres support
PyJWT==2.10.1                     # Support for decoding JWT's
requests==2.32.3
whitenoise==6.9.0                 # If you don't have a web server in front to serve static files
