# Django using python 3.12.13
django==5.2.13
django-crispy-forms==2.6
django-markdownx==4.0.9
django-ninja==1.6.2
django-two-factor-auth[phonenumberslite]==1.18.1

# If using e.g. buckets:
django-storages==1.14.6
boto3==1.4.4 # django-storages wants this for storages.backends.s3.S3Storage

# Auth (SSO)
mozilla-django-oidc==4.0.1

# Forms
crispy-bootstrap5==2026.3

# HTTP
requests==2.33.1

# JWT decoding
pyjwt==2.12.1

# Postgres support
psycopg[binary]==3.3.4 # pre-compiled binary libpq

# Server for dynamic content
gunicorn==25.0.3

# Server for static files - brotli for compression
whitenoise[brotli]==6.12.0
