Django==4.2.28
crispy-bootstrap5==2025.6
django-crispy-forms==2.5.0
django-extensions==3.2.3
django-markdownx==4.0.7
django-ninja==0.22.2
django-storages==1.14.6
django-two-factor-auth[phonenumberslite]==1.18.0
gunicorn==23.0.0
mozilla-django-oidc==4.0.1
psycopg-binary==3.3.3             # Postgres support
psycopg==3.3.3                    # Postgres support
PyJWT==2.10.1                     # Support for decoding JWT's
requests==2.32.3
whitenoise==6.9.0                 # If you don't have a web server in front to serve static files
