{% extends "site_with_navigation.html" %}
{% load i18n %}
{% load custom_tags %}

{% block specific_title %}
{% translate "Images" %}
{% endblock %}

{% block subnav %}
  <ul class="sublevelnav item-list">
    {% for product in products %}
      <li class="{% if product.id == selected_product.id %}active{% endif %}">
        <a class="item-list-link" href="/site/{{ site.url }}/image-versions/{{ product.id }}">
          <span clas="d-flex align-items-center">
            <!-- TODO: Remove the swedish hack below of translating product.name once the database itself is translated -->
          {% translate product.name %}
          </span>
        </a>
      </li>
    {% endfor %}
</ul>
{% endblock %}
{% block specific_content %}
<div class="container-fluid main">
  {% if object_list %}
    <!-- First index of 'minor_versions' is the most recent version -->
    {% with object_list|first as first_ver %}
      <!-- TODO: Remove the swedish hack below of translating product.name once the database itself is translated -->
      <h2 class="divideheader">{% translate "Most recent version of" %} {% translate selected_product.name %}</h2>
      <dl>
        <dt>{% translate "Version" %}</dt>
        <dd>{{ first_ver.image_version }}</dd>
        <dt>{% translate "Release date" %}</dt>
        <dd>{{ first_ver.release_date }}</dd>
        <dt>{% translate "Operating system" %}</dt>
        <dd>{{ first_ver.os }}</dd>
        <dt>{% translate "Release notes" %}</dt>
        <dd>
        {{ first_ver.release_notes|render_custom_links_markdown:site.uid|safe }}
        </dd>
      </dl>
      {% if first_ver.image_upload %}
        <a class="btn btn-md btn-success text-light p-3 fs-5" {% if not selected_product.multilang or user_language == "da" %}href="{{ first_ver.image_upload.url }}"{% else %}href="{{ first_ver.image_upload_multilang.url }}"{% endif %} download>
          <span class="material-symbols-outlined">
            cloud_download
          </span>
          {% if user_language == "da" or not selected_product.multilang %}
              {% translate "Download standard image" %}
            {% else %}
              {% translate "Download international image" %}
            {% endif %}
        </a>
        {% if first_ver.image_upload_multilang != "" and first_ver.image_upload_multilang != "#" %}
          <a class="btn btn-md btn-secondary ms-4" {% if user_language == "da" %}href="{{ first_ver.image_upload_multilang.url }}"{% else %}href="{{ first_ver.image_upload.url }}"{% endif %} download>
            <span class="material-symbols-outlined">
              cloud_download
            </span>
            {% if user_language == "da" %}
              {% translate "Download international image" %}
            {% else %}
              {% translate "Download danish image" %}
            {% endif %}
          </a>
        {% endif %}
      {% endif %}
    {% endwith %}
  {% else %}
    <h2 class="divideheader">{% translate "Images" %}</h2>
    <p>{% translate "No images were found" %}</p>
  {% endif %}
  {% if object_list.count > 1 %}
    <!-- Proceed to load remaining versions -->
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        {% translate "Earlier versions" %}
        </button>
      </div>
      <table class="table table-hover accordion-body accordion-collapse collapse" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <thead>
          <tr>
            <th>{% translate "Version" %}</th>
            <th>{% translate "Release date" %}</th>
            <th>{% translate "Operating system" %}</th>
            <th>{% translate "Release notes" %}</th>
            <th>{% translate "Download" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for image in object_list|slice:"1:" %}
            <tr>
              <td>{{ image.image_version }}</td>
              <td>{{ image.release_date }}</td>
              <td>{{ image.os }}

              </td>
              <td>
                {{ image.release_notes|render_custom_links_markdown:site.uid|safe }}
              </td>
              <td>
                {% if image.image_upload %}
                  <a class="btn btn-sm btn-success text-light mb-1" {% if not selected_product.multilang or user_language == "da" %}href="{{ image.image_upload.url }}"{% else %}href="{{ image.image_upload_multilang.url }}"{% endif %} download>
                    <span clas="d-flex align-items-center">
                      <span class="material-symbols-outlined">
                        cloud_download
                      </span>
                      {% if user_language == "da" or not selected_product.multilang %}
                        {% translate "Download standard image" %}
                      {% else %}
                        {% translate "Download international image" %}
                      {% endif %}
                    </span>
                  </a>
                  {% if image.image_upload_multilang != "" and image.image_upload_multilang != "#" %}
                    <a class="btn btn-sm btn-secondary mb-1" {% if user_language == "da" %}href="{{ image.image_upload_multilang.url }}"{% else %}href="{{ image.image_upload.url }}"{% endif %} download>
                      <span clas="d-flex align-items-center">
                        <span class="material-symbols-outlined">
                          cloud_download
                        </span>
                        {% if user_language == "da" %}
                          {% translate "Download international image" %}
                        {% else %}
                          {% translate "Download danish image" %}
                        {% endif %}
                      </span>
                    </a>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
</div>
{% endblock %}
